body{
    font-family: "Segoe UI";
}
#canvas{
    border: black solid 2px;
}
.ColorPalette {
    padding: 50px;

}
#black_palette{
    background-color: black;
}

#blue_palette{
    background-color: blue;
}

#yellow_palette{
    background-color: yellow;
}

#red_palette{
    background-color: red;
}

#green_palette{
    background-color: green;
}